:root {
	--main-b-color: #35586c;
	--secondary-b-color: #2b2c28;
	--tertiary-b-color: #f7b501;
	--in-progress: #039dfc;
	--programming: #aaf0ca;
	--frameworks: #2ec4b6;
	--data-structures: #e71d36;
	--algorithms: #ff9f1c;
}
